venv/
ve
pySX127x/
img_parts/
output_img/
image_buffer/
service_packet_buffer/
rx_buffer/
lora_receiver/error_buffer/
cleanup.sh
config.py

.DS_Store
*.pyc
*.weights
*.cfg
lora_transmitter/lora_status
lora_receiver/lora_status
*.pdf